body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
  }

  .container{
    width: 1259px;
    height: 662px;
    margin-top: 75px;
    margin-left: 90px;
  }
  
  .food-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }
  
  .food-card {
    width: 394px;
    height: 257px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  .food-card img {
    max-width: 100%;
    height: auto;
  }
  
  h3 {
    margin: 10px 0;
  }

  .main-btn{
    text-align: center;
    background-color: #FA9D7E;
    width: 310px;
height: 48px;
padding: 14px 96px 14px 96px;
border-radius: 40px;
margin-left: 480px;
color: white;
text-decoration: none;

  }

  /* Add styles for the modal */
  .modal {
    position: absolute;
    top: 10%;
    left: 30%;

    display: none;
   
     width: 580px;
     height: 520px;
     background-color:#3C3C3B;
     border-radius: 16px;
   
  }

  .modal-heading{
font-family: sans-serif;
font-size: 24px;
font-weight: 500;
line-height: 30px;
text-align: center;
color: #FA9D7E;
margin-top: 40px;
margin-left: 10px;
margin-right: 10px;

  }

  .modal-heading-second{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 20px;
letter-spacing: 2px;
text-align: center;
color: white;
margin-top: 15px;

  }

 

  .recipe-container {
  display: flex;
  overflow: auto;
 margin-top: 25px;
 text-decoration: none;
}

.recipe-container::-webkit-scrollbar {
  width: 0; /* Hide the scrollbar width */
  height: 0; /* Hide the scrollbar height */
}

  .tf-btn{
    display: inline-block;
    text-align: center;
    background-color: #FA9D7E;
    width: 100px;
height: 20px;
padding: 14px 96px 14px 96px;
border-radius: 40px;margin-top: 25px;
margin-left: 145px;
color: white;
text-decoration: none;
  }


  .modal-last-ln{
   height: 20px;
    color: white;
    margin-top: 15px;
text-align: center;
font-size: 15px;  }

.close{
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

/* Styling for the background overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 1000; /* Higher z-index to ensure it's above other content */
}
